@model HouseHubWeb.Models.ImovelViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ImovelViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quartos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quartos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Banheiros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Banheiros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorCondominio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorCondominio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoAluguel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoAluguel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoVenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoVenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Iptu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Iptu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoCondominio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoCondominio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PodeAnimal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PodeAnimal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPessoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPessoa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Logradouro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Logradouro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Complemento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Complemento)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
